<template>
    <div class="rounded border p-10" v-if="isPageLoaded">
        <div class="mb-10">
            <label class="form-label">Product Name</label>
            <input type="text" class="form-control" name="formData.title" placeholder="Product Name"  v-model="formData.title">
        </div>
        <div class="mb-10">
            <label class="form-label">Product Price</label>
            <input type="text" class="form-control" name="formData.price" placeholder="Product Price"  v-model="formData.price" @keypress="onlyNumber">
        </div>
        <div class="mb-10">
            <label class="form-label">Product Quantity</label>
            <input type="text" class="form-control" name="formData.quantity" placeholder="Product Quantity"  v-model="formData.quantity" @keypress="onlyNumber">
        </div>
        <div class="mb-10">
            <label class="form-label">Select Categories</label>
            <select type="text" class="form-control"  v-model="formData.categories" multiple>
                <option v-for="category of allCategories" :value="category.id">{{category.title}}</option>
            </select>
        </div>
        <div class="mb-10">
            <label class="form-label">Select Attributes</label>
            <select type="text" class="form-control"  v-model="formData.attributeIds" multiple @change="buildAttributesArray()">>
                <option v-for="attribute of allAttributes" :value="attribute.id">{{attribute.title}}</option>
            </select>
        </div>
        <template v-if="attributesArray.length > 0">
            <div class="mb-10" v-for="attribute of attributesArray">
                <label class="form-label">Select {{attribute.title}}</label>
                <select type="text" class="form-control"  v-model="attribute.selectedSubAttributes" multiple>>
                    <option v-for="subattribute of attribute.subattributes" :value="subattribute.id">{{subattribute.title}}</option>
                </select>
            </div>
        </template>
        <div class="mb-10">
            <label class="form-label">Product Detail</label>
            <textarea type="text" class="form-control" name="formData.detail" placeholder="Product Detail"  v-model="formData.detail"></textarea>
        </div>
        <div class="mb-10" >
            <image-uploader v-bind:images="productImages" :parentLoader="loader"/>
        </div>
        <div class="mb-10" >
        <a :href="listroute"  class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-dark" @click="submitProduct()" :disabled="isLoading">Submit <i v-if="isLoading" class="fas fa-circle-notch"></i></button>
        </div>
    </div>
</template>

<script>
export default {
    name: "product-form",
    props: ['productid', 'categories', 'attributes', 'listroute'],
    data() {
        return {
            allCategories: JSON.parse(this.categories),
            allAttributes: JSON.parse(this.attributes),
            formData: {
                categories:[],
                attributeIds: [],
                title: '',
                detail: '',
                attributes: '',
                quantity: '',
                price: '',
                selectedAttributes:[]
            },
            attributesArray: [],
            productImages: [],
            isLoading: false,
            isPageLoaded: (this.productid <= 0)
        }
    },
    async created() {
        console.log(this.productid);
        if(this.productid > 0){
            this.editProduct()
        }
    },
    methods: {
        loader(){
            this.isLoading = !this.isLoading
        },
        onlyNumber ($event) {
            let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
            if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
                $event.preventDefault();
            }
        },
        buildAttributesArray(callback = null){
            let attributeLoop = 0;
            if(this.formData.attributeIds.length > 0){
                this.attributesArray = this.attributesArray.filter(attr => this.formData.attributeIds.includes(attr.id));
                for(let attribute of this.allAttributes){
                    attributeLoop++
                    if(this.formData.attributeIds.indexOf(attribute.id) > -1 && !this.attributesArray.some(attr => attr.id == attribute.id)){
                        let attributeObject = {
                            id: attribute.id,
                            title: attribute.title,
                            subattributes: [],
                            selectedSubAttributes: []
                        }
                        for(let subattribute of attribute.subAttributes){
                            attributeObject.subattributes.push({
                                id: subattribute.id,
                                title: subattribute.title,
                                selected: false,
                            })
                        }
                        this.attributesArray.push(attributeObject)
                    }
                }
            }
            if(attributeLoop == this.allAttributes.length && callback){
                callback();
            }
        },
        editProduct(){
            axios.post(window.Laravel.apiUrl + 'product', {id: this.productid})
                .then(res => {
                    if(res.data.success == false){
                        toastr.error('alert', res.data.message)
                    }
                    let product = res.data.data;

                    this.formData = {
                        id: product.id,
                        title: product.title,
                        detail: product.detail,
                        price: product.price,
                        quantity: product.quantity,
                        categories: product.productCategoryIds.map(cat => cat.category_id),
                        attributeIds: product.productAttributesIds.map(attr => attr.attribute_id),
                        selectedAttributes: [],
                    }
                    if (product.images.length > 0) {
                        for (let image of product.images) {
                            this.productImages.push({
                                filename: image.image,
                                isDefault: (image.is_default == 1),
                                path: window.Laravel.base + image.image,
                            })
                        }
                    }
                    this.buildAttributesArray(() => {
                        if(this.attributesArray.length > 0){
                            for(let attribute of this.attributesArray){
                                attribute.selectedSubAttributes = product.productAttributesIds.filter(attr => attr.attribute_id).map(attr => attr.sub_attribute_id)
                            }
                        }
                    })
                    this.isPageLoaded = true
                })
        },
        submitProduct(){

            if(this.attributesArray.length > 0){
                for(let attribute of this.attributesArray){
                    if(attribute.selectedSubAttributes.length <= 0){
                        alert('Please select options of '+ attribute.name.en)
                        return;
                    }
                    for(let subattribute of attribute.selectedSubAttributes){
                        let attributeObject = {
                            sub_attribute_id: subattribute,
                            attribute_id: attribute.id,
                        }
                        this.formData.selectedAttributes.push(attributeObject)
                    }
                }
            }
            this.formData.images = this.productImages
            console.log(this.formData);
            let url = window.Laravel.apiUrl + 'save-product'
            this.isLoading = true
            axios.post(url, this.formData)
                .then(res => {
                    console.log("Res" ,res)
                    if (res.data.success == false) {
                        this.isLoading = false;
                        toastr.error('Error', res.data.msg)
                    } else {
                        toastr.success('Success', res.data.msg)
                        window.location.href = this.listroute;

                    }
                }).catch(error => {
                // this.errors.push(error);
                console.log(error);
                    // if(res.s){
                    //
                    // }
            })
        }
    }
}
</script>

<style scoped>

</style>
