<template>
    <div>
        <div class="input-style">
            <label class="form-label">Upload Images</label>
        </div>
        <div class="upload-sec d-flex align-items-center flex-wrap">
            <div class="qust-filed mr-2 custom-image-style">
                <label :for="'file'+this.subattributeId"
                       class="form-control py-10 d-flex align-items-center justify-content-center mb-1">
                    <input
                        type="file"
                        name="file"
                        :id="'file'+this.subattributeId"
                        :ref="refference"
                        @change="setProductImage($event)"
                        class="input-file d-none"
                        accept="image/*">
                    <div class="btn-tertiary js-labelFile d-flex align-items-center flex-column">
                        <i class="icon fa fa-plus-circle plus-icon"></i>
                        <span class="js-fileName heading Poppins-Regular">Add Image</span>
                    </div>
                </label>
            </div>
            <template v-if="images && images.length > 0 ">
                <!--begin::Image input-->
                <div v-for="(image, index) in images" :key="index" class="image-input image-input-outline custom-image-style" data-kt-image-input="false"
                     :style="{ 'background-image': 'url(' + image.path + ')' }">
                    <!--begin::Image preview wrapper-->
                    <div class="image-input-wrapper w-125px h-125px"
                         :style="{ 'background-image': 'url(' + image.path + ')' }"></div>
                    <!--end::Image preview wrapper-->

                    <!--begin::Edit button-->
                    <label @click="setImageToDefault(index)" class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
                           data-bs-toggle="tooltip"
                           data-kt-image-input-action="change"
                           title="Make Default"  v-bind:style=" image.isDefault == true ? 'background-color: #1e1e2d !important;color:white;' : '' ">
                        <i class="fas fa-check"></i>
                    </label>
                    <!--end::Edit button-->

                    <!--begin::Remove button-->
                    <span v-if="!image.isDefault"  @click="deleteSetImage(index, image.filename)" class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-white shadow"
                          data-bs-toggle="tooltip"
                           data-kt-image-input-action="remove"
                          title="Remove Image">
                         <i class="fas fa-trash"></i>
                     </span>
                    <!--end::Remove button-->
                </div>
                <!--end::Image input-->
            </template>
        </div>
    </div>
</template>

<script scoped>
export default {
    name: 'image-uploader',
    props: {
        images: {
            type: Array,
            default: function () {
                return []
            }
        },
        parentLoader: {
            type: Function,
            default: () => {
            }
        },
        subattributeId: {
            type: Number,
            default: 0
        },
        refference: {
            type: String,
            default: 'productImages'
        },
    },
    data() {
        return {
            isLoading: false,
        }
    },
    methods: {
        loading(status) {
            this.isLoading = status;
        },
        setProductImage(event) {
            this.parentLoader()
            this.loading(true)
            var formData = new FormData();
            formData.append("image", this.$refs[this.refference].files[0]);
            axios.post(window.Laravel.apiUrl + 'image-upload', formData)
                .then(res => {
                    console.log(res);
                    if (res.success == false) {
                        toastr.error('Error', res.message)
                        this.parentLoader()
                        this.loading(false)
                    }
                    if (res.data.success == false) {
                        toastr.error('Error', res.data.message)
                        this.parentLoader()
                        this.loading(false)
                    }
                    if (res.success != false && res.data.success != false) {
                        this.parentLoader()
                        this.loading(false)
                        let defaultImage = false
                        if (this.images.length <= 0) {
                            defaultImage = true
                        }
                        this.images.push({
                            filename: res.data.data.image,
                            path: res.data.data.imageUrl,
                            isDefault: defaultImage
                        })
                    }
                })
        },
        setImageToDefault(index) {
            for (let image of this.images) {
                image.isDefault = false
            }
            this.images[index].isDefault = true;
        },
        deleteSetImage(index, path) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'Image will be deleted permanently.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes Delete it!',
                cancelButtonText: 'No, Keep it!',
                showCloseButton: true,
            }).then((result) => {
                if (result.isConfirmed && result.value) {
                    this.parentLoader()
                    this.loading(true)
                    var formData = new FormData();
                    formData.append("image", path);
                    axios.post(window.Laravel.apiUrl + 'image-remove', formData)
                        .then(response => {
                            this.parentLoader()
                            this.loading(false)
                            this.images.splice(index, 1)
                        })
                } else if (result.isDenied) {
                    Swal.fire('image is not deleted', '', 'info')
                }
            })
        },
    }
}
</script>

<style scoped>
.custom-image-style{
    margin-right: 25px;
}
</style>
